{% extends 'B.html' %}
{% block start %}
<div class="container card mt-5 w-25 p-4" style="border-radius: 10px;background-color: aqua;">
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="Title" 
      aria-describedby="emailHelp" placeholder="Title" value="{{context.Title}}" style="background-color: rgb(237, 245, 245);">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Notes</label>
      <textarea name="Text" class="form-control" placeholder="Leave a comment here..." id="floatingTextarea" rows="5" 
      style="background-color: rgb(237, 245, 245);height: 300px;">{{context.Text}}</textarea>
    </div>
    <button type="submit" class="btn bw11tn-primary" style="margin-left: 38%;">Submit</button>
</form>
</div>
{% endblock %}