/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(41, 40, 52);
}

h1#head{
    color: #e5e2e2;
    margin: 20px 0 0 65px;
    display: flex;
    float: left;
}

hr{
    box-shadow: 0 0 5px #e5e2e2;
}
